<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        
        <title>Web-Caesar</title>   
    </head>
    <body>
        <h1>Web-Caesar Encryption</h1>
        <h2>Michael Toth - LC101 Unit 2</h2>

        <form class="box" action="/" method="POST">

            <div class="inputs">
                Encryption rotation (number): 
                <input class="rotation" type="number"  name="rot" value="0">  
            </div>

            <textarea name="text">{{sample_text}}</textarea><br>

            <button type="submit">ENCRYPT</button>
            <button type="reset">RESET</button>

        </form>

        {% block response %}
        {% endblock %}

        <img id="caesar" src="{{url_for('static', filename='images/caesar2.jpg')}}" alt="Fix this.">

    </body>
</html>
